/*_____________________________________________________________   CUSTOM
/* Base */
html {
  max-width: 1200px!important;
  margin-right: auto;
  margin-left: auto;
}


import '../scss/styles.scss';
import * as mdb from 'mdb-ui-kit'; // lib
window.mdb = mdb;

// Initialization for ES Users
import { Dropdown, Collapse, initMDB } from "mdb-ui-kit";

initMDB({ Dropdown, Collapse });
